@import url(./style.css);

main {
    width: 100%;
    height: fit-content;
    padding-top: 1rem;
    position: relative;
    text-align: center;
    background-color: var(--color-primary);
    background-size: cover;
    font-family: "Bree Serif", serif;
    color: var(--color-light2);
}

main section {
    width: 100%;
    height: 850px;
    padding: 5rem 11rem;
}

section h1 {
    font-size: 4rem;
    position: relative;
    z-index: 1;
}
section h1::after {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 160%;
    color: var(--color-offwhite);
    position: absolute;
    top: -60%;
    opacity: 0;
    z-index: -1;
    animation: fade-out 500ms ease-in 1.3s forwards;
}

/* ============================== About ============================== */

#about {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color-primary);
}

#about article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

#about h1 {
    font-size: 5rem;
    line-height: 90%;
    letter-spacing: 3px;
}

#about h1::after {
    content: "SAHARA";
    font-family: inherit;
    font-size: 6.5rem;
    left: 0;
    top: -11%;
    opacity: 10%;
}

#about h2 {
    line-height: 0.5rem;
    width: fit-content;
    padding-left: 10px;
    z-index: 1;
    color: var(--color-offwhite);
}

#about h3 {
    font-size: 2rem;
    z-index: 1;
    color: var(--color-light1);
    position: relative;
}

#about h3::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0;
    height: 3px;
    border-radius: 0 10px 10px 0;
    background-color: var(--color-light2);
    left: 3px;
    bottom: 0;
    animation: line-out 1s ease-out 1s forwards;
}

#about article p {
    width: 620px;
    margin-top: 1rem;
    text-align: left;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
}

#join-button {
    width: 180px;
    height: 70px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    background-color: var(--color-success);
    color: var(--color-primary);
    border-radius: 10px;
    opacity: 0;
    animation: scale-button 500ms ease-out 2.3s forwards;
}

.icon-hidden {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

#join-button:hover .icon-hidden {
    opacity: 100%;
}

@keyframes scale-button {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    75% {
        opacity: 75%;
        transform: scale(1.1);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

#about figure {
    margin-top: 3rem;
}

#about img {
    width: 700px;
}

/* ============================== Goals ============================== */

#goals {
    height: 900px;
    background: -moz-linear-gradient(0deg, rgba(43,18,76,1) 0%, rgba(133,79,108,1) 10%, rgba(82,43,91,1) 67%, rgba(43,18,76,1) 97%);
    background: -webkit-linear-gradient(0deg, rgba(43,18,76,1) 0%, rgba(133,79,108,1) 10%, rgba(82,43,91,1) 67%, rgba(43,18,76,1) 97%);
    background: linear-gradient(0deg, rgba(43,18,76,1) 0%, rgba(133,79,108,1) 10%, rgba(82,43,91,1) 67%, rgba(43,18,76,1) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b124c",endColorstr="#2b124c",GradientType=1);
}

#goals h1 {
    grid-area: heading;
    font-size: 4rem;
    color: var(--color-light2);
    animation: scale-out 1s ease-out forwards;
    transform: scale(0.8);
}

#goals h1::after {
    content: "Our Goals";
    left: 34%;
}

#goal-container {
    width: 100%;
    height: 550px;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    justify-content: center;
}

#goals article {
    width: 400px;
    height: 600px;
    background-color: var(--color-primary);
    border-radius: 20px;
    position: relative;
    /* box-shadow: 0 0 30px 0 #854f6c83; */
}

#goals article figure {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    z-index: 2;
}

#goals article figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 500ms ease-out;
    opacity: 0.9;
}

#goals article h2 {
    margin-top: 2rem;
    padding: 0 1.2rem;
    font-weight: normal;
    position: relative;
}

#goals article p {
    padding: 1.8rem;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: justify;
    color: var(--color-light2);
}

#goal-1 p {
    padding: 60px 2rem 0 2rem !important;
}

#goals article:hover {
    box-shadow: 0 0 200px 2px rgba(133, 79, 108, 0.329) inset,
                0 0 30px 0 #854f6c83;
    color: var(--color-offwhite) !important;
    /* perspective: 1000px; */
    /* transform: perspective(1000px) rotateX(5deg) rotateY(5deg) ; */
}

#goals article:hover figure img {
    transform: scale(1.3) rotate(3deg);
    opacity: 1;
}

/* ============================== Activities ============================== */

#activities {
    height: 180%;
    padding: 5rem;
    background: -moz-linear-gradient(0deg, rgba(133,79,108,1) 0%, rgba(82,43,91,1) 12%, rgba(43,18,76,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(133,79,108,1) 3%, rgba(82,43,91,1) 10%, rgba(43,18,76,1) 100%);
    background: linear-gradient(0deg, rgba(133,79,108,1) 3%, rgba(82,43,91,1) 12%, rgba(43,18,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#854f6c",endColorstr="#2b124c",GradientType=1);
}

#activities h1 {
    grid-area: heading;
    font-size: 4rem;
    color: var(--color-light2);
    animation: scale-out 1s ease-out forwards;
    transform: scale(0.8);
}

#activities h1::after {
    content: "What We Do";
    left: 33.5%;
}

#activity-container {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". act-1 act-1 act-1 act-1 ."
        "act-2 act-2 act-2 act-3 act-3 act-3";
    gap: 4rem 0;
    justify-items: center;
}

#activity-container article {
    width: 600px;
    height: 600px;
    color: var(--color-primary) !important;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: -moz-linear-gradient(0deg, rgba(82,43,91,1) 51%, rgba(223,182,178,1) 96%);
    background: -webkit-linear-gradient(0deg, rgba(82,43,91,1) 51%, rgba(223,182,178,1) 96%);
    background: linear-gradient(0deg, rgba(82,43,91,1) 51%, rgba(223,182,178,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#522b5b",endColorstr="#dfb6b2",GradientType=1);
}

#activity-container article:hover {
    background: -moz-linear-gradient(0deg, rgba(43,18,76,1) 22%, rgba(82,43,91,1) 69%, rgba(223,182,178,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(43,18,76,1) 22%, rgba(82,43,91,1) 69%, rgba(223,182,178,1) 100%);
    background: linear-gradient(0deg, rgba(43,18,76,1) 22%, rgba(82,43,91,1) 69%, rgba(223,182,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b124c",endColorstr="#dfb6b2",GradientType=1);
}

#activity-container article h2 {
    margin: 2rem 0 1rem 0;
}

#activity-container article p {
    padding: 0 2rem 1.5rem 3rem;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
}

#activity-container article button {
    padding: 15px 50px;
    position: absolute;
    bottom: -100px;
    left: 200px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--color-light2);
    color: var(--color-secondary);
    opacity: 0;
    transition: 300ms bottom ease-out 150ms;
}

#activity-container article:hover button {
    bottom: 40px;
    opacity: 100%;
    z-index: 5;
}

#activity-container article button:hover {
    box-shadow: 0 0 20px 0 rgba(218, 136, 179, 0.329) inset;
    color: var(--color-dark);
}

#activity-container article figure {
    display: block;
    position: relative;
    width: 100%;
    height: 60%;
    border-radius: inherit;
    padding: 20px;
    overflow: hidden;
}

#activity-container article:hover figure {
    padding: 0;
    transform: scale(1.05);
    opacity: 0.5;
}

#activity-container figure img {
    height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

#activity-1 {
    grid-area: act-1;
    width: 700px !important;
}

#activity-1 figure {
    height: 70% !important;
}

#activity-1 button {
    left: 250px !important; 
}

#activity-2 {
    grid-area: act-2;
}

#activity-3 {
    grid-area: act-3;
}

/* ============================== Outreach ============================== */

#outreach {
    height: 550px;
    background-color: var(--color-secondary);
    background: -moz-linear-gradient(0deg, rgba(43,18,76,1) 0%, rgba(82,43,91,1) 72%, rgba(133,79,108,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(43,18,76,1) 0%, rgba(82,43,91,1) 72%, rgba(133,79,108,1) 100%);
    background: linear-gradient(0deg, rgba(43,18,76,1) 0%, rgba(82,43,91,1) 72%, rgba(133,79,108,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b124c",endColorstr="#854f6c",GradientType=1);
}

#outreach h1 {
    grid-area: heading;
    font-size: 4rem;
    color: var(--color-offwhite);
    animation: scale-out 1s ease-out forwards;
    transform: scale(0.8);
}

#outreach h1::after {
    content: "Outreach";
    left: 35.5%;
}

#outreach #stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 250px;
    gap: 2rem;
    margin-top: 3rem;
    z-index: -3;
}

#stats article {
    width: 300px;
    height: 250px;
    position: relative;
    padding-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    overflow: hidden;
    z-index: 1;
}

#stats article img {
    display: block;
    width: 80px;
}

#members h3 {
    margin-bottom: 20px;
}

#whatsapp img {
    width: 60px !important;
    margin-bottom: 15px !important;
}

#instagram img, #linkedin img {
    width: 55px !important;
    margin-bottom: 20px !important;
}

#yt img {
    margin-bottom: 10px !important;
}

#stats article h2 {
    font-size: 2rem;
    color: var(--color-offwhite);
}

#stats article h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

#stats article h4 {
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 80%;
}

#social-button, #social-button a {
    all: unset;
    cursor: pointer;
}

#social-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 53%;
    right: 20%;
    opacity: 0;
    background: transparent;
}

article:hover #social-button {
    opacity: 1;
}

#stats button a {
    display: block;
    width: 100%;
    height: 100%;
}

#social-button a i {
    opacity: 1;
    font-size: 1.5rem;
    color: var(--color-offwhite)
}

/* 
!PENDING:
- Animations left
*/


/* ============================== Animations  ============================== */

@keyframes line-out {
    0% {
        width: 0;
    }
    100% {
        width: 94%;
    }
}

@keyframes goal-line-out {
    0% {
        width: 0;
    }
    100% {
        width: 12%;
    }
}

@keyframes activities-line-out {
    0% {
        width: 0;
    }
    100% {
        width: 20%;
    }
}

@keyframes scale-out {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 10%;
    }
}