@import url(./style.css);

main {
    width: 100%;
    height: fit-content;
    padding-top: 1rem;
    position: relative;
    text-align: center;
    background-color: var(--color-primary);
    background-size: cover;
    font-family: "Bree Serif", serif;
    color: var(--color-light2);
}

main section {
    width: 100%;
    height: 1000px;
    padding: 6rem 11rem;
}

section h1 {
    font-size: 5rem;
    position: relative;
    z-index: 1;
    -webkit-animation:  scale-out 1s ease-out forwards;
    -moz-animation:     scale-out 1s ease-out forwards;
    -o-animation:       scale-out 1s ease-out forwards;
    animation:          scale-out 1s ease-out forwards;
    transform: scale(0.7);
}

section h1::after {
    font-family: "Bree Serif", serif;
    font-size: 250%;
    color: var(--color-offwhite);
    position: absolute;
    top: -100%;
    left: 42%;
    opacity: 0;
    z-index: -1;
    -webkit-animation:  fade-out 500ms ease-in 1.3s forwards;
    -moz-animation:     fade-out 500ms ease-in 1.3s forwards;
    -o-animation:       fade-out 500ms ease-in 1.3s forwards;
    animation:          fade-out 500ms ease-in 1.3s forwards;
}

/* =============================== INTRO =============================== */

#intro {
    height: fit-content;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;

    background-color: var(--color-primary);
    background: -moz-linear-gradient(0deg, rgba(43,18,76,1) 60%, rgba(82,43,91,1) 90%);
    background: -webkit-linear-gradient(0deg, rgba(43,18,76,1) 60%, rgba(82,43,91,1) 90%);
    background: linear-gradient(0deg, rgba(43,18,76,1) 60%, rgba(82,43,91,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b124c",endColorstr="#522b5b",GradientType=1);

}

#intro h1 {
    line-height: 90%;
    opacity: 0;
    transform: scale(0.8);
    -webkit-animation:  show-heading 1s ease-out forwards;
    -moz-animation:     show-heading 1s ease-out forwards;
    -o-animation:       show-heading 1s ease-out forwards;
    animation:          show-heading 1s ease-out forwards;
}

#intro figure {
    width: 40%;
    height: 280px;
}

#intro figure img {
    width: 100%;
    height: 100%;
}

#intro p {
    width: 60%;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: -1rem;
}

#act-types {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#act-types article {
    width: 350px;
    height: 120px;
    padding: 1rem 0;
    background-color: var(--color-secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 1s ease-in;
    perspective: 1000px;
}

#act-types article a {
    opacity: 0;
    padding-top: 10px;
    position: relative;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    transition: opacity 300ms ease-in-out;
}

#act-types article a span {
    display: inline-block;
}


#act-types article:hover a, #act-types article:active a {
    opacity: 1;
}

#act-types article a:hover, #act-types article a:active {
    text-decoration: underline;
}

#act-types article:hover a span {

    -webkit-animation:  move-left-right 1s ease-in-out 300ms infinite;
    -moz-animation:     move-left-right 1s ease-in-out 300ms infinite;
    -o-animation:       move-left-right 1s ease-in-out 300ms infinite;
    animation:          move-left-right 1s ease-in-out 300ms infinite;
}

/* =============================== Activities =============================== */

.activities {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 6rem 20rem;

    background: rgb(43,18,76);
    background: -moz-linear-gradient(0deg, rgba(43,18,76,1) 0%, rgba(82,43,91,1) 80%, rgba(43,18,76,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(43,18,76,1) 0%, rgba(82,43,91,1) 80%, rgba(43,18,76,1) 100%);
    background: linear-gradient(0deg, rgba(43,18,76,1) 0%, rgba(82,43,91,1) 80%, rgba(43,18,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b124c",endColorstr="#2b124c",GradientType=1);
}

.activities h1 {
    font-size: 4.5rem;
    position: relative;
    color: var(--color-offwhite);
}

.activities h2 {
    font-size: 3.5rem;
    position: relative;
    margin-top: -2rem;
}

.activities h4 {
    color: var(--color-light1);
}

.collab {
    width: 70%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -0.5rem;
}

.parties {
    display: flex;
    flex-direction: row;
}

.parties a {
    all: unset !important;
    width: 100%;
    height: 100%;
    background-color: orange;
}

.parties img {
    height: 60px;
}

.parties h3 {
    position: relative;
    margin: 10px;
    width: 70%;
    text-align: left;
    color: var(--color-light2);
}

.parties h3::after {
    content: "";
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: bold;
    font-size: 60%;
    position: absolute;
    left: 0;
    top: 55%;
}

.synapse {
    width: 300px;
}

.synapse h3::after {
    content: "The Socio-Linguistic Society";
}

.boundless h3::after {
    content: "The Travel Club";
}


.gallery {
    width: 100%;
    height: 600px;
    border: 2px solid var(--color-light1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    user-select: none;
}

.gallery:hover, gallery:active {
    border-color: var(--color-light2);
}

.gallery figure {
    width: 100%;
    height: 100%;
}

.gallery figure .main-img {
    height: 100%;
    position: relative;
    z-index: 2;
}

.gallery figure .bg-img {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0.3;
    z-index: 1;
}

.trip-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    text-align: left;
}

.date time {
    display: inline-block;
    width: 100%;
}

.location, .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color-light2);
    text-align: center;
}


.trip-details i {
    font-size: 2rem;
    color: var(--color-light1);
}

.route {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.route .loc {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.2rem;
    color: var(--color-light2);
}

.loc {
    width: fit-content;
    max-width: 150px;
    text-align: center;
}


.lines {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lines span {
    width: 80px;
    height: 30px;
    border-radius: 50%;
    border-top: 5px dashed var(--color-light1);
}

.lines span:nth-child(even) {
    border-top: none;
    border-left: none;
    border-bottom: 5px dashed var(--color-light1);
    transform: skewX(-20deg);
}

#line-start {
    border-top: none;
    border-bottom: 5px dashed var(--color-light1);
}

#line-end {
    border-top: none;
    border-bottom: 5px dashed var(--color-light1);
}

.location:hover i, .date:hover i, .route:hover span, .location:active i, .date:active i, .route:active span {
    color: var(--color-light2);
    border-color: var(--color-light2) !important;
}


.activity-about {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-areas: "des des des des des des des" " points points points points points points button";
    row-gap: 1rem;
    padding: 2rem 0;
}

.activity-about p {
    grid-area: des;
    text-align: left;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 400;
}

.activity-about ul {
    grid-area: points;
    text-align: left;
}

.activity-about ul li {
    margin-left: 20px;
    padding-left: 10px;
    line-height: 1.5rem;
    font-family: "Mukta", sans-serif;
    font-weight: 600;
}

.activity-about ul li::marker {
    content: "↪";
    color: var(--color-light1);
    font-weight: bolder;
}

.activity-about .links {
    grid-area: button;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.activity-about button {
    width: 220px;
    height: 70px;
    border-radius: 10px;
    color: var(--color-light1);
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 500;
    font-size: 1.15rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    background: rgb(82,43,91);
    background: -moz-linear-gradient(292deg, rgba(82,43,91,1) 0%, rgba(43,18,76,1) 90%);
    background: -webkit-linear-gradient(292deg, rgba(82,43,91,1) 0%, rgba(43,18,76,1) 90%);
    background: linear-gradient(292deg, rgba(82,43,91,1) 0%, rgba(43,18,76,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#522b5b",endColorstr="#2b124c",GradientType=1); 
}

.activity-about button:hover, .activity-about button:active {
    color: var(--color-light2);
    font-size: 1.2rem;

    background: rgb(133,79,108);
    background: -moz-linear-gradient(292deg, rgba(133,79,108,1) 0%, rgba(82,43,91,1) 90%);
    background: -webkit-linear-gradient(292deg, rgba(133,79,108,1) 0%, rgba(82,43,91,1) 90%);
    background: linear-gradient(292deg, rgba(133,79,108,1) 0%, rgba(82,43,91,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#854f6c",endColorstr="#522b5b",GradientType=1); 
}

.activity-about button a {
    width: 100%;
    height: 100%;
}

.activity-about button i {
    padding-left: 5px;
}

#don-link {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-secondary);
    background: var(--color-success);
}

#don-link:hover {
    color: var(--color-primary);
}


.testimonials {
    /* background-color: var(--color-secondary); */
    overflow: hidden;
    width: 100%;
    padding: 3rem 0;
    height: 480px;
    position: relative;
    border-radius: 10px;
}

.testimonials h2 {
    font-size: 2.5rem;
}

.tm-carousel {
    width: fit-content;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    transform: translateX(10px);
}

.tm-carousel article {
    padding: 3rem;
    padding-bottom: 2rem;
    height: 250px;
    background-color: var(--color-light1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    filter: blur(2px);
    position: relative;
}

.tm-carousel article blockquote {
    width: 200px;
    font-family: 'Hind Vadodara', sans-serif;
    font-family: 'Mukta';
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 0.5rem;
    color: var(--color-light2);
}

.tm-carousel article h4 {
    color: var(--color-offwhite);
}

.tm-carousel article h4::before, .tm-carousel article h4::after {
    position: absolute;
    content: "“";
    color: var(--color-secondary);
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.2;
    top: 0;
    left: 5%;
    z-index: -1;
}

.tm-carousel article h4::after {
    content: "”";
    top: 55%;
    right: -70%;
}

.active-testimonial {
    transform: scale(1.3);
    filter: blur(0) !important;
    color: black;
    background-color: var(--color-light2) !important;
}

.active-testimonial blockquote {
    color: var(--color-secondary) !important;
    width: 350px !important;
    font-weight: 600 !important;
    font-size: 0.8rem !important;
}

.active-testimonial h4 {
    color: var(--color-primary) !important;
}




/*
!PENDING:
- feedback is like gallary, but auto slides.
- A good font for paras ask content team. 
- links of collab parties  
*/

/* =============================== Activity-1 =============================== */

#trip-1 h1::after {
    content: "#1";
}


#aau h3::after{
    content: "";
}


/* =============================== Activity-2 =============================== */


#trip-2 h1::after {
    content: "#2";
}


/* =============================== Animations =============================== */

@-webkit-keyframes show-heading {
    0% {
        -webkit-transform: scale(0.7);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 100%;
    }
}

@-moz-keyframes show-heading {
    0% {
        -moz-transform: scale(0.7);
        opacity: 0;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 100%;
    }
}

@-o-keyframes show-heading {
    0% {
        -o-transform: scale(0.7);
        opacity: 0;
    }
    100% {
        -o-transform: scale(1);
        opacity: 100%;
    }
}

@keyframes show-heading {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

@-webkit-keyframes scale-out {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes scale-out {
    0% {
        -moz-transform: scale(0);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes scale-out {
    0% {
        -o-transform: scale(0);
    }
    100% {
        -o-transform: scale(1);
    }
}

@keyframes scale-out {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 10%;
    }
}

@-moz-keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 10%;
    }
}

@-o-keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 10%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 10%;
    }
}

@-webkit-keyframes move-left-right {
    0% {
        -webkit-transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes move-left-right {
    0% {
        -moz-transform: translateX(0);
    }
    50% {
        -moz-transform: translateX(10px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@-o-keyframes move-left-right {
    0% {
        -o-transform: translateX(0);
    }
    50% {
        -o-transform: translateX(10px);
    }
    100% {
        -o-transform: translateX(0);
    }
}

@keyframes move-left-right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

/* =============================== Responsiveness =============================== */

@media screen and (max-width: 1600px) {
    #intro figure {
        width: 600px;
    }
    #act-types {
        width: 80%;
    }

    .activities {
        padding: 6rem 10rem;
    }

    .activities h1 {
        font-size: 4rem;
    }

    .gallery {
        height: 550px;
    }
    .tm-carousel {
        transform: translateX(-80px);
    }
    
}

@media screen and (max-width: 1200px) {
    #act-types {
        width: 100%;
    }
    #intro p {
        width: 80%;
    }
    .activities {
        padding: 6rem 5rem;
    }

    .activities h1 {
        font-size: 3.5rem;
    }
    .tm-carousel {
        transform: translateX(-80px);
    }
}

@media screen and (max-width: 1024px) {
    #act-types {
        width: 120%;
    }
    #intro p {
        width: 100%;
    }

    .activities {
        padding: 6rem 5rem;
    }
    .activities h1 {
        font-size: 3rem;
    }
    .collab {
        width: 100%;
    }
    .gallery {
        height: 480px;
    }
    .route .lines span {
        width: 50px;
        height: 20px;
    }
    .route .loc {
        font-size: 1rem;
    }
    .location .date {
        font-size: 1.1rem;
    }
    .trip-details i {
        font-size: 1.5rem;
    }
    .activity-about .links {
        flex-direction: column;
        row-gap: 1rem;
    }
    .activity-about button {
        width: 160px;
        height: 50px;
        font-size: 1rem !important;
    }
    .testimonials h2 {
        font-size: 1.5rem;
    }
    .tm-carousel {
        transform: translateX(-170px);
        gap: 3rem;
    }
    .tm-carousel article {
        height: 220px;
    }
    .tm-carousel article blockquote {
        font-size: 0.5rem;
    }
    .active-testimonial {
        transform: scale(1.2);
    }
    .active-testimonial blockquote {
        font-size: 0.7rem !important;
    }

}

@media screen and (max-width: 950px) {
    #act-types article {
        width: 300px;
    }
    #act-types article h3 {
        font-size: 1rem;
    }

    .activities h1 {
        font-size: 2.5rem;
    }
    .collab {
        width: 100%;
    }
    .collab .parties img {
        height: 50px;
    }
    .collab .parties h3 {
        font-size: 1rem;
    }
    .gallery {
        height: 442px;
    }
    .trip-details {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: space-between;
        grid-template-areas: "location . date" "route route route";
    }
    .trip-details .location {
        grid-area: location;
    }
    .trip-details .date {
        grid-area: date;
    }
    .trip-details .route {
        grid-area: route;
        grid-column: 1/4;
    }
    .location, .date {
        font-size: 1rem;
    }
    .activity-about {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    main section {
        padding: 7rem 4rem !important;
    }
    #intro h1 {
        font-size: 3rem;
    }
    #act-types {
        width: 100%;
    }
    .activities h1 {
        font-size: 2rem;
    }
    .collab .parties {
        width: 200px !important;
    }
    .gallery {
        height: 350px;
    }
    .route .loc {
        font-size: 1rem;
        line-height: 100%;
        font-weight: 600;
    }
    .activity-about p {
        text-align: center;
    }
    .tm-carousel {
        transform: translateX(-230px);
    }
    .tm-carousel article {
        height: 200px;
    }
    .active-testimonial {
        width: 400px !important;
        transform: scale(1.2);
        z-index: 100;
    }
}

@media screen and (max-width: 450px) {
    main section {
        padding: 7rem 2rem !important;
    }
    #intro figure {
        width: 300px;
        height: auto;
    }
    #intro p {
        font-size: 0.6rem;
    }
    #act-types article {
        width: 150px;    
    }
    #act-types article h3 {
        font-size: 0.9rem;
    }
    .activities {
        overflow: hidden;
        padding: 3rem !important;
    }
    .activities h1 {
        font-size: 1.3rem;
    }
    #trip-2 h1::after {
        top: -45%;
    }
    .activities h4 {
        font-size: 0.6rem;
    }
    .collab {
        flex-direction: column;
        align-items: center;
        row-gap: 0;
    }
    .collab .parties {
        width: 180px !important;
    }
    .collab .parties img {
        height: 40px;
    }
    .collab .parties h3 {
        font-size: 0.7rem !important;
    }
    .collab .parties h3::after {
        top: 65%;
    }
    .gallery {
        height: 180px;
        border-radius: 5px;
    }
    .activity-about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "des" "points" "button";
        height: 500px !important;
    }
    .trip-details i {
        font-size: 1rem;
    }
    .route {
        height: fit-content;
        padding-top: 10px;
    }
    .route .loc {
        font-size: 0.7rem;
    }
    .route .lines span {
        width: 40px;
        height: 15px;
        border-width: 2px !important;
    }
    .location, .date {
        font-size: 0.7rem;
    }
    .activity-about p {
        font-size: 0.7rem;
    }
    .activity-about ul {
        height: fit-content;
    }
    .activity-about ul li {
        margin-left: 5px;
        font-size: 0.7rem;
    }
    .activity-about .links {
        flex-direction: row;
        height: fit-content;
    }
    .activity-about .links button {
        font-size: 0.8rem !important;
        width: 140px;
    }

    .testimonials {
        height: 550px;
    }
    .testimonials h2 {
        font-size: 1.2rem;
    }
    .tm-carousel {
        transform: translateX(-10px);
        gap: 2rem;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tm-carousel article {
        height: 100px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-items: space-between;
        align-items: center;
    }
    .tm-carousel article h4::before, .tm-carousel article h4::after {
        font-size: 60px;
    }
    .tm-carousel blockquote {
        font-size: 0.3rem !important;
    }
    .active-testimonial {
        width: 250px !important;
        height: 180px !important;
    }
    .active-testimonial blockquote {
        width: 230px !important;
        font-size: 0.55rem !important;
    }
    .active-testimonial h4 {
        font-size: 0.7rem !important;
    }

}

@media screen and (max-width: 375px) {
    #intro h1 {
        font-size: 2.5rem;
    }
    #act-types article {
        width: 130px;
    }
    #act-types article h3 {
        font-size: 0.8rem;
        padding: 0 10px;
    }
    #act-types article a {
        font-size: 0.6rem;
    }
    #act-types article a span {
        font-size: 0.6rem;
    }
    .activities h1 {
        font-size: 1.2rem;
    }
    .gallery {
        height: 150px;
    }
    .trip-details i {
        font-size: 0.8rem;
    }
    .route .loc {
        font-size: 0.6rem;
    }
    .location, .date {
        font-size: 0.6rem;
    }
    .activity-about p {
        font-size: 0.6rem;
    }
    .activity-about ul li {
        font-size: 0.6rem;
    }
    .activity-about .links button {
        font-size: 0.7rem !important;
        width: 120px;
        height: 40px;
    }
    .testimonials {
        height: 470px;
    }
    .testimonials h2 {
        font-size: 1rem;
    }
    .tm-carousel article {
        height: 80px;
        width: 180px;
    }
    .tm-carousel blockquote {
        font-size: 0.2rem !important;
        width: 150px !important;
    }
    .active-testimonial {
        width: 210px !important;
        height: 150px !important;
    }
    .active-testimonial blockquote {
        width: 190px !important;
        font-size: 0.4rem !important;
    }
}

@media screen and (max-width: 320px) {
    #intro {
        padding-bottom: 0 !important;
    }
    #intro h1 {
        font-size: 2rem;
    }
    #intro figure {
        width: 250px;
        height: auto;
    }
    #intro p {
        font-size: 0.6rem;
    }
    #act-types article {
        width: 120px;
        height: 100px;
    }
    #act-types article h3 {
        font-size: 0.7rem;
    }
    #act-types article a {
        font-size: 0.5rem;
    }
    #act-types article a span {
        font-size: 0.5rem;
    }

    .activities h1 {
        font-size: 1rem;
    }
    .collab {
        gap: 0;
    }
    .collab .parties {
        width: 150px !important;
    }
    .collab .parties img {
        height: 30px;
    }
    .collab .parties h3 {
        font-size: 0.6rem !important;
    }
    .collab .parties h3::after {
        top: 65%;
    }
    .gallery {
        height: 120px;
    }

    .trip-details i {
        font-size: 0.7rem;
    }
    .location, .date {
        font-size: 0.5rem;
    }
    .route .lines span {
        width: 30px;
        height: 10px;
        border-width: 2px !important;
    }
    .route .loc {
        font-size: 0.5rem;
    }
    .activity-about {
        padding: 0;
        height: 400px !important;
    }
    .activity-about p {
        font-size: 0.5rem;
    }
    .activity-about ul li {
        font-size: 0.5rem;
        padding-left: 5px;
        line-height: 120%;
        padding-bottom: 10px;
    }
    .activity-about .links button {
        font-size: 0.6rem !important;
        width: 100px;
        height: 40px;
        border-radius: 5px;
    }
    .testimonials {
        height: 420px;
    }
    .tm-carousel {
        width: 250px;
    }
    .tm-carousel article {
        height: 0px;
        width: 150px;
        overflow: hidden;
    }
    .active-testimonial {
        width: 180px !important;
        height: 100px !important;
    }
    .active-testimonial blockquote {
        width: 160px !important;
        font-size: 0.3rem !important;
    }
    .active-testimonial h4 {
        font-size: 0.45rem !important;
    }
}