@import url(./style.css);

main {
    width: 100%;
    height: fit-content;
    padding-top: 1rem;
    position: relative;
    text-align: center;
    background-color: var(--color-primary);
    background-size: cover;
    font-family: "Bree Serif", serif;
    color: var(--color-light2);
}

