
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Hind+Siliguri:wght@300&family=Nanum+Gothic&family=Noto+Sans:wght@200&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #8f50ec;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item{
    width: 100%;
    height: 550px;
    max-width: 820px;
    border: #ffff;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1rf);
    display: grid;
    z-index: 1000;
}

.contact{
    background: #000;
}

.submit-form{
    background: red;
}

.first-text{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 35px;
    color: #8550ec;
}