@import url(./style.css);

/* ============================== Main ============================== */
main {
    width: 100%;
    height: 100vh;
    padding-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    background-color: var(--color-primary);
    background-size: cover;
    font-family: 'Bree Serif', serif;
}

#hands-heart {
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: 1rem;
}

#hands-heart img {
    position: absolute;
    display: block;
}

#heart {
    width: 150px;
    top: 10%;
    left: 16%;
    opacity: 0;
    transform: scale(0.9);
    -webkit-animation: show-heart 1s ease-out forwards;
    -moz-animation:    show-heart 1s ease-out forwards;
    -o-animation:      show-heart 1s ease-out forwards;
    animation:          show-heart 1s ease-out forwards;
}

.hand {
    width: 150px;
    bottom: -50px;
    opacity: 0;
    -webkit-animation:  move-hands 1s ease-out 1.05s forwards;
    -moz-animation:     move-hands 1s ease-out 1.05s forwards;
    -o-animation:       move-hands 1s ease-out 1.05s forwards;
    animation:          move-hands 1s ease-out 1.05s forwards;
}

#hand-1 {
    transform: rotateZ(-30deg);
    right: -20px;
}

#hand-2 {
    left: 0;
    transform: scaleX(-1) rotateZ(-30deg);
}


#heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading h1 {
    width: fit-content;
    font-size: 8rem;
    font-weight: bolder;
    letter-spacing: 0.5rem;
    line-height: 80%;
    color: var(--color-light2);
    position: relative;
    bottom: 0;
    opacity: 0;
    -webkit-animation:  fade-out 1s ease-out forwards;
    -moz-animation:     fade-out 1s ease-out forwards;
    -o-animation:       fade-out 1s ease-out forwards;
    animation:          fade-out 1s ease-out forwards;
}

#heading h2 {
    position: relative;
    width: fit-content;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-light1);
    opacity: 0;
    -webkit-animation:  fade-out 1s linear 1s forwards;
    -moz-animation:     fade-out 1s linear 1s forwards;
    -o-animation:       fade-out 1s linear 1s forwards;
    animation:          fade-out 1s linear 1s forwards;
}


#heading h2::after {
    content: "";
    position: absolute;
    left: 1.5%;
    bottom: 12%;
    display: inline-block;
    width: 0;
    height: 4px;
    background-color: var(--color-light2);
    border-radius: 0 0 2px 2px;
    -webkit-animation:  line-out 1s ease-out 1s forwards;
    -moz-animation:     line-out 1s ease-out 1s forwards;
    -o-animation:       line-out 1s ease-out 1s forwards;
    animation:          line-out 1s ease-out 1s forwards;
}

#intro {
    position: relative;
    width: 800px;
    height: 100px;
    padding-top: 2rem;
    color: var(--color-offwhite);
    font-size: 1.2rem;
    font-weight: bold;
}

#intro p, #intro blockquote {
    position: relative;
    width: inherit;
    bottom: -50px;
    opacity: 0;
}

#intro #first {
    font-family: 'Mukta', sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
    /* font-family: 'Lato', sans-serif; */
    -webkit-animation:  go-up-and-fade-out 1.5s ease-in-out 2s forwards;
    -moz-animation:     go-up-and-fade-out 1.5s ease-in-out 2s forwards;
    -o-animation:       go-up-and-fade-out 1.5s ease-in-out 2s forwards;
    animation:          go-up-and-fade-out 1.5s ease-in-out 2s forwards;
}

#intro #second {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: var(--color-light1);
    opacity: 0;
    margin-top: 0.5rem;
    -webkit-animation:  go-up-and-fade-out 1.5s ease-in-out 2s forwards;
    -moz-animation:     go-up-and-fade-out 1.5s ease-in-out 2s forwards;
    -o-animation:       go-up-and-fade-out 1.5s ease-in-out 2s forwards;
    animation:          go-up-and-fade-out 1.5s ease-in-out 2s forwards;
}

#second strong {
    color: var(--color-light2);
    font-weight: 600;
}

#intro a {
    font-weight: bolder;
    opacity: 0;
    color: var(--color-white);
}

#intro:hover a {
    -webkit-animation:  fade-out 3s ease-out forwards;
    -moz-animation:     fade-out 3s ease-out forwards;
    -o-animation:       fade-out 3s ease-out forwards;
    animation:          fade-out 3s ease-out forwards;
}

#intro:hover a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* -------------- Buttons -------------- */

#buttons {
    margin-top: 7rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

#join-button {
    width: 250px;
    height: 70px;
    font-size: 2rem;
    z-index: 2;
    background-color: var(--color-light2);
    color: var(--color-primary);
    border-radius: inherit;
    opacity: 0;
    -webkit-animation: scale-button 1s ease-out 3.5s forwards;
    -moz-animation:    scale-button 1s ease-out 3.5s forwards;
    -o-animation:      scale-button 1s ease-out 3.5s forwards;
    animation: scale-button 1s ease-out 3.5s forwards;
}

#join-button:hover, #join-button:active, #join-button:focus {
    color: var(--color-light1);
    box-shadow: 0 0 50px 5px #854f6c83 inset;
}

#join-button:active {
    color: var(--color-primary);
}

button a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: inherit;
}

#collab-button {
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 190px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    background-color: var(--color-secondary);
    color: var(--color-light2);
    font-size: 0.9rem;
    border-radius: 0 0 20px 20px;
    z-index: 1;
    -webkit-animation: show-collab-button 500ms ease-out forwards;
    -moz-animation:    show-collab-button 500ms ease-out forwards;
    -o-animation:      show-collab-button 500ms ease-out forwards;
    animation: show-collab-button 500ms ease-out forwards;
}

#collab-button:hover {
    color: var(--color-offwhite);
    box-shadow: 0 0 20px 2px rgba(218, 212, 218, 0.336) inset;
}

#collab-button:active {
    color: var(--color-dark);
    box-shadow: 0 0 20px 20px rgba(218, 212, 218, 0.534) inset;
}

#buttons:hover #collab-button, #buttons:active #collab-button, #buttons:focus #collab-button {
    display: block;
    transform: none !important;
}

button:active {
    transform: scale(1.05);
}

/* ---===========--- ANIMATIONS ---===========--- */


@-webkit-keyframes show-heart {
    0% {
        -webkit-transform: scale(0.7);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 100%;
    }
}

@-moz-keyframes show-heart {
    0% {
        -moz-transform: scale(0.7);
        opacity: 0;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 100%;
    }
}

@-o-keyframes show-heart {
    0% {
        -o-transform: scale(0.7);
        opacity: 0;
    }
    100% {
        -o-transform: scale(1);
        opacity: 100%;
    }
}

@keyframes show-heart {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

@-webkit-keyframes move-hands {
    0% {
        bottom: -50px;
        opacity: 0;
    }
    100% {
        bottom: 20px;
        opacity: 100%;
    }

}

@-moz-keyframes move-hands {
    0% {
        bottom: -50px;
        opacity: 0;
    }
    100% {
        bottom: 20px;
        opacity: 100%;
    }
}

@-o-keyframes move-hands {
    0% {
        bottom: -50px;
        opacity: 0;
    }
    100% {
        bottom: 20px;
        opacity: 100%;
    }
}

@keyframes move-hands {
    0% {
        bottom: -50px;
        opacity: 0;
    }
    100% {
        bottom: 20px;
        opacity: 100%;
    }
}

@-webkit-keyframes line-out {
    0% {
        width: 0;
    }
    100% {
        width: 94%;
    }
}

@-moz-keyframes line-out {
    0% {
        width: 0;
    }
    100% {
        width: 94%;
    }
}

@-o-keyframes line-out {
    0% {
        width: 0;
    }
    100% {
        width: 94%;
    }
}

@keyframes line-out {
    0% {
        width: 0;
    }
    100% {
        width: 94%;
    }
}

@-webkit-keyframes go-up-and-fade-out {
    0% {
        opacity: 0;
        bottom: -50px;
    }
    100% {
        opacity: 100%;
        bottom: 0;
    }
}

@-moz-keyframes go-up-and-fade-out {
    0% {
        opacity: 0;
        bottom: -50px;
    }
    100% {
        opacity: 100%;
        bottom: 0;
    }
}

@-o-keyframes go-up-and-fade-out {
    0% {
        opacity: 0;
        bottom: -50px;
    }
    100% {
        opacity: 100%;
        bottom: 0;
    }
}

@keyframes go-up-and-fade-out {
    0% {
        opacity: 0;
        bottom: -50px;
    }
    100% {
        opacity: 100%;
        bottom: 0;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@-moz-keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@-o-keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@-webkit-keyframes scale-button {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    75% {
        opacity: 75%;
        transform: scale(1.1);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@-moz-keyframes scale-button {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    75% {
        opacity: 75%;
        transform: scale(1.1);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@-o-keyframes scale-button {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    75% {
        opacity: 75%;
        transform: scale(1.1);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes scale-button {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    75% {
        opacity: 75%;
        transform: scale(1.1);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@-webkit-keyframes show-collab-button {
    0% {
        opacity: 0;
        bottom: 0;
    }
    100% {
        opacity: 100%;
        bottom: -45px;
    }
}

@-moz-keyframes show-collab-button {
    0% {
        opacity: 0;
        bottom: 0;
    }
    100% {
        opacity: 100%;
        bottom: -45px;
    }
}

@-o-keyframes show-collab-button {
    0% {
        opacity: 0;
        bottom: 0;
    }
    100% {
        opacity: 100%;
        bottom: -45px;
    }
}

@keyframes show-collab-button {
    0% {
        opacity: 0;
        bottom: 0;
    }
    100% {
        opacity: 100%;
        bottom: -45px;
    }
}

/* ============================== Responsiveness ============================== */

@media screen and (max-width: 1600px) {
    #heart {
        width: 100px;
        top: 40%;
        left: 24%;
    }
    .hand {
        width: 100px;
    }
    #hand-1 {
        right: 20px;
    }
    #hand-2 {
        left: 20px;
    }
    #heading h1 {
        font-size: 6rem;
        letter-spacing: 0.3rem;
    }
    #heading h2 {
        font-size: 2.2rem;
    }
    #buttons {
        margin-top: 5rem;
    }

}

@media screen and (max-width: 500px) {
    #heading h1 {
        font-size: 5rem;
        letter-spacing: 0.2rem;
    }
    #heading h2 {
        font-size: 1.8rem;
    }
    #intro {
        width: 100%;
        padding: 2rem 2rem;
    }
    #intro {
        font-size: 1rem;
    }
    #buttons {
        margin-top: 9rem;
    }
}

@media screen and (max-width: 450px) {
    main {
        padding-top: 3rem;
    }
    #heart {
        width: 100px;
        top: 35%;
        left: 25%;
    }
    .hand {
        width: 100px;
    }
    #hand-1 {
        right: 25px;
    }
    #hand-2 {
        left: 25px;
    }

    #heading h2::after {
        height: 2px;
    }

    #buttons {
        margin-top: 12rem;
    }
    #join-button {
        width: 160px;
        height: 60px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 330px) {
    #heading h1 {
        font-size: 3rem;
        letter-spacing: 0.1rem;
    }
    #heading h2 {
        font-size: 1rem;
    }
    #intro, #intro #first {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    #buttons {
        margin-top: 9rem;
    }
}