@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    all:unset;
    cursor: pointer;
    color: #2A0A2A;
}

:root {
    /* Variables */
    --transition-300ms: all 0.3s ease;
    --color-primary: #350A51;
    --color-secondary: #732A19;
    --color-light1: #BC8C40;
    --color-light2: #FFF1D4;
    --color-primary-light: #523368;
    --color-danger: #DF0012;
    --color-success: #55D76D;
    --color-black: #000000;
    --color-white: #ffffff;
}


/* ============================== Header ============================== */
header {
    width: 100%;
}

nav {
    width: 100%;
    height: 7rem;
    background-color: var(--color-primary);
    color: var(--color-light1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    user-select: none !important;
    transition: var(--transition-300ms);
    z-index: 1000;
}

nav.on-scroll {
    height: 5.5rem;
    box-shadow: 0 0 7px 3px rgba(44, 24, 63, 0.699);
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -60px;
}

#logo img {
    height: 60px;
    transition: var(--transition-300ms);
}

img.shrink-on-scroll {
    height: 45px !important;
}

#name {
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
    height: 100%;
    transition: var(--transition-300ms);
}

#nav-menu li {
    font-weight: bold;
    position: relative;
    transition: var(--transition-300ms);
}

#nav-menu li:hover {
    color: var(--color-light2);
}

#nav-menu li::after {
    content: "";
    display: inline;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: var(--color-light1);
    width: 0;
    height: 3px;
    border-radius: 2px;
    transition: animation;
}

#nav-menu li:hover::after {
    animation: expand-line 300ms ease-in-out forwards;
}

#current-page {
    position: relative;
    color: var(--color-light2);
}

#current-page::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -20%;
    bottom: -51px;
    opacity: 0;
    background-color: var(--color-light2);
    width: 140%;
    height: 5px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 50px 3px rgba(255, 241, 212, 0.411);
    transition: var(--transition-300ms);
    animation: highlight-current-page-full 400ms forwards;
}

nav.on-scroll #current-page::after {
    bottom: -39px;
    animation: highlight-current-page-shrink 400ms forwards;
}


/* !NOTE: current page pop up from down with fade animation */

#extra-space {
    width: 100%;
    height: 7rem;
}

@keyframes expand-line {
    0% {
        left: 50%;
        width: 0;
    }
    100% {
        left: 0;
        width: 100%;
    }
}

@keyframes highlight-current-page-full {
    0% {
        opacity: 0;
        bottom: -51px;
    }
    100% {
        opacity: 100%;
        bottom: -46px;
    }
}

@keyframes highlight-current-page-shrink {
    0% {
        opacity: 0;
        bottom: -39px;
    }
    100% {
        opacity: 100%;
        bottom: -34px;
    }
}



/* ============================== Footer ============================== */
footer {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: forestgreen;
    text-align: center;
    font-size: 20px;
}

#credits {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding-top: 10px;
    border-top: 2px solid black;
}



/* ============================== Width: 1240px ============================== */
@media screen and (max-width:1240px) {
    /* =============== Header =============== */
    #logo {
        margin: 0;
    }

    #nav-menu {
        gap: 3rem;
    }
}