@import url(./style.css);

main {
    width: 100%;
    height: fit-content;
    padding-top: 1rem;
    position: relative;
    text-align: center;
    background-color: var(--color-primary);
    background-size: cover;
    font-family: "Bree Serif", serif;
    color: var(--color-light2);
}

main section {
    width: 100%;
    height: 1000px;
    padding: 6rem 11rem;
}

section h1 {
    font-size: 5rem;
    position: relative;
    z-index: 1;
    -webkit-animation:  scale-out 1s ease-out forwards;
    -moz-animation:     scale-out 1s ease-out forwards;
    -o-animation:       scale-out 1s ease-out forwards;
    animation:          scale-out 1s ease-out forwards;
    transform: scale(0.7);
}

section h1::after {
    font-family: "Bree Serif", serif;
    font-size: 250%;
    color: var(--color-offwhite);
    position: absolute;
    top: -100%;
    left: 42%;
    opacity: 0;
    z-index: -1;
    -webkit-animation:  fade-out 500ms ease-in 1.3s forwards;
    -moz-animation:     fade-out 500ms ease-in 1.3s forwards;
    -o-animation:       fade-out 500ms ease-in 1.3s forwards;
    animation:          fade-out 500ms ease-in 1.3s forwards;
}

/* =============================== INTRO =============================== */

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(82,43,91);
    background: -moz-radial-gradient(circle, rgba(82,43,91,1) 0%, rgba(43,18,76,1) 25%);
    background: -webkit-radial-gradient(circle, rgba(82,43,91,1) 0%, rgba(43,18,76,1) 25%);
    background: radial-gradient(circle, rgba(82,43,91,1) 0%, rgba(43,18,76,1) 25%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#522b5b",endColorstr="#2b124c",GradientType=1); 
}

#ppl-img {
    width: 600px;
}

#intro #sub-heading {
    margin: -1rem 0 1rem 0;
    font-family: "Hind Vadodara", sans-serif;
    color: var(--color-light1);
}

#intro #tagline {
    margin-top: 1rem;
}

#tagline span {
    font-size: 2.5rem;
}


/* =============================== INTRO =============================== */
#team {
    height: fit-content;
    padding-top: 8rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        ". head1 head2 ."
        "member-1 member-2 member-3 member-4"
        "member-5 member-6 member-7 member-8"
        "member-9 member-10 member-11 member-12";
    gap: 5rem 3rem;
}

#team article {
    background-color: var(--color-light1);
    height: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 20px;
    cursor: pointer;

    background: rgb(82,43,91);
    background: -moz-radial-gradient(circle, rgba(82,43,91,1) 0%, rgba(43,18,76,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(82,43,91,1) 0%, rgba(43,18,76,1) 100%);
    background: radial-gradient(circle, rgba(82,43,91,1) 0%, rgba(43,18,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#522b5b",endColorstr="#2b124c",GradientType=1);
}

#team article:hover, #team article:active {
    box-shadow: 0 0 20px 0 #854f6c83;
    transform: translateY(10px) scale(1.07);

    background: rgb(82,43,91);
    background: -moz-radial-gradient(circle, rgba(82,43,91,1) 15%, rgba(43,18,76,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(82,43,91,1) 15%, rgba(43,18,76,1) 100%);
    background: radial-gradient(circle, rgba(82,43,91,1) 15%, rgba(43,18,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#522b5b",endColorstr="#2b124c",GradientType=1); 
}


#team article figure {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


#team article figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px var(--color-light1)) brightness(0.8) contrast(1.2);
}

#team article:hover figure img, #team article:active figure img  {
    filter: drop-shadow(0 0 10px var(--color-light1));
}


#team article h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

#team article:hover h2, #team article:active h2 {
    color: var(--color-offwhite);
}

#team article h3 {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

#team article p {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 0.8rem;
    margin: 1rem 0;
    text-align: justify;
    padding: 0 1rem;
    color: var(--color-light2);
}

#team article:hover p, #team article:active p {
    color: var(--color-offwhite);
}

#team article button {
    position: absolute;
    bottom: 30px;
    height: 45px;
    width: fit-content;
    border-radius: 10px;
    color: var(--color-offwhite);
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    background: rgb(82,43,91);
    background: -moz-linear-gradient(292deg, rgba(82,43,91,1) 0%, rgba(43,18,76,1) 100%);
    background: -webkit-linear-gradient(292deg, rgba(82,43,91,1) 0%, rgba(43,18,76,1) 100%);
    background: linear-gradient(292deg, rgba(82,43,91,1) 0%, rgba(43,18,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#522b5b",endColorstr="#2b124c",GradientType=1); 
}

#team article button:hover {
    color: var(--color-light2);
    
    background: rgb(133,79,108);
    background: -moz-linear-gradient(292deg, rgba(133,79,108,1) 0%, rgba(82,43,91,1) 90%);
    background: -webkit-linear-gradient(292deg, rgba(133,79,108,1) 0%, rgba(82,43,91,1) 90%);
    background: linear-gradient(292deg, rgba(133,79,108,1) 0%, rgba(82,43,91,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#854f6c",endColorstr="#522b5b",GradientType=1); 


}

#team article:hover button {
    bottom: 50px;
}

#team article button a {
    padding: 0.5rem 2rem;
    width: 100%;
    height: 100%;
}

#team article .member-links {
    width: calc(100% + 4rem);
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    position: absolute;
    bottom: -30px;
    z-index: -1;
    opacity: 0;
}

#team article:hover .member-links, #team article:active .member-links {
    opacity: 1;
    z-index: 5;
    bottom: 0;
    transition: all 700ms ease-out;
}

#team article .member-links a {
    padding: 10px 1rem;

}

#team article .member-links a:hover, #team article .member-links a:active {
    color: var(--color-offwhite);
    opacity: 1;
    font-weight: bold;
    transform: scale(1.1);
}

#team article .member-links a:nth-child(1) {
    border-radius: 0 0 0 20px;
}

#team article .member-links a:nth-child(3) {
    border-radius: 0 0 20px 0;
}

#founder-1 {
    grid-area: head1;
}

#founder-2 {
    grid-area: head2;
}

/* =============================== Responsiveness =============================== */
@media screen and (max-width: 1600px) {
    main section {
        padding: 7rem 5rem;
    }
    #team article {
        padding: 2rem 1rem;
    }

    #team article figure {
        width: 120px;
        height: 120px;
    }

    #team article button {
        margin-top: 0;
        font-size: 0.9rem;
    }
    #team article button a {
        padding: 0.5rem 2rem;
    }

    #team article .member-links {
        font-size: 1.2rem;
    }
    #team article:hover .member-links, #team article:active .member-links {
        transform: translateY(-5px);
    }
}

@media screen and (max-width: 1200px) {
    main h1 {
        font-size: 4rem;
    }
    #intro {
        height: 700px;
    }
    #intro figure {
        width: 400px;
        height: 400px;
    }
    #tagline {
        font-size: 1rem;
    }
    #tagline span {
        font-size: 1.5rem;
    }

    #team {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "head1 head2 member-1"
            "member-2 member-3 member-4"
            "member-5 member-6 member-7"
            "member-8 member-9 member-10";
    }

    #space-div1, #space-div2 {
        display: none;
    }

    #team article {
        height: 420px;
    }
    #team article figure {
        width: 100px;
        height: 100px;
    }
    #team article p {
        font-size: 0.7rem;
        margin: 0.5rem;
        padding: 0;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    #team {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "head1 head2"
            "member-1 member-2"
            "member-3 member-4"
            "member-5 member-6"
            "member-7 member-8"
            "member-9 member-10";
        justify-items: center;
    }
    #team article {
        width: 300px;
        height: 400px;
    }

    #team article h2 {
        margin-top: 0;
    }
    #team article h3 {
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {
    #intro {
        height: 800px;
    }
    #team {
        padding: 0 6rem 2rem 6rem;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 
            "head1"
            "head2"
            "member-1"
            "member-2"
            "member-3"
            "member-4"
            "member-5"
            "member-6"
            "member-7"
            "member-8"
            "member-9"
            "member-10";
        gap: 3rem;
    }
}

@media screen and (max-width: 500px) {

    main h1 {
        font-size: 2rem;
    }
    #sub-heading {
        font-size: 1rem;
    }
    #intro {
        height: 600px;
    }
    #intro figure {
        width: 300px;
        height: 300px;
    }
    #tagline {
        font-size: 0.8rem;
    }
    #tagline span {
        font-size: 1rem;
    }

    #team article {
        height: 380px;
    }
    #team article figure {
        width: 100px;
        height: 100px;
    }

    #team article h2 {
        font-size: 1rem;
    }
    #team article h3, #team article button {
        font-size: 0.8rem;
    }
    #team article button {
        height: 40px;
        width: 120px;
        padding: 0;
    }
    #team article button a {
        padding: 0.5rem 2rem;
    }
    #team article p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 450px) {
    #team {
        padding: 0 2rem;
        padding-bottom: 3rem;
        overflow: hidden;
    }
    #team article {
        width: 250px;
    }
    #team article figure {
        width: 80px;
        height: 80px;
    }

}

@media screen and (max-width: 320px) {
    #intro {
        height: 600px;
    }
    #intro h1 {
        line-height: 100%;
    }
    #sub-heading {
        line-height: 1rem;
        padding-top: 1rem;
    }
    #intro figure {
        width: 150px;
        height: 150px;
    }

    #team {
        padding: 0 1.5rem;
    }
    #team article {
        padding: 2rem;
        padding-bottom: 5rem;
        width: fit-content;
        height: fit-content;
    }
    #team article h2 {
        font-size: 0.8rem;
    }
    #team article h3, #team article button {
        font-size: 0.7rem;
    }
}